

.tag, .list-tags li a{
	display: block;
	border: 1px solid $color__border-abbr;
	color: $color__text-regular;
	font-size: 15px;
	line-height: 25px;
	padding: 5px 14px 4px;
	font-weight: normal;  
	text-decoration: none;
	border-radius: $border__radius; 
	@include transition(0.3s);
 
	&:hover {
		background-color: $color__blue;
		border-color: $color__blue;
		color: $color__white;
	} 
} 
 